# pandas merge function

In [1]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({'ID': [1,2,3,4,5],'Class': ['a','b','c','d']})
print(df1)

   ID Class
0   1     a
1   2     b
2   3     c
3   4     d

In [5]:
df2 = pd.DataFrame({'ID': [1,2,3],'Object': ['yogi','jasmeet','viki','jaishu']})
print(df2)

   ID   Object
0   1     yogi
1   2  jasmeet
2   3     viki
3   4   jaishu

In [7]:
pd.merge(df1,df2, on = 'ID')

   ID Class   Object
0   1     a     yogi
1   2     b  jasmeet
2   3     c     viki
3   4     d   jaishu

In [8]:
pd.merge(df2,df1, on = 'ID')

   ID   Object Class
0   1     yogi     a
1   2  jasmeet     b
2   3     viki     c
3   4   jaishu     d

In [10]:
pd.merge(df2,df1,on = 'Id', how = 'outer')

KeyError: 'Id'