In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

In [3]:
list_1  = [1,2,3,4,"data type",6.9,4]
print(list_1)

[1, 2, 3, 4, 'data type', 6.9, 4]

In [4]:
series1 = pd.Series(list_1)
print(series1)

0            1
1            2
2            3
3            4
4    data type
5          6.9
6            4
dtype: object

In [6]:
type(series1)

pandas.core.series.Series

In [8]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-8-4d32fcf5dfe7>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

In [9]:
series2 = pd.Series([1,2,3,4,6])
print(series2)

0    1
1    2
2    3
3    4
4    6
dtype: int64

In [11]:
series3  = pd.Series([3,4,5,6,8], index = ["a","b","c","d","e"], dtype = float )
print(series3)

a    3.0
b    4.0
c    5.0
d    6.0
e    8.0
dtype: float64

In [12]:
scalar = pd.Series(0.5)
print(scalar)

0    0.5
dtype: float64

In [13]:
scalar = pd.Series(0.5,index = [1,2,3])
print(scalar)

1    0.5
2    0.5
3    0.5
dtype: float64

In [15]:
dict_series = pd.Series({"a":1,"b":2,"c":3})
print(dict_series)

a    1
b    2
c    3
dtype: int64

In [17]:
s4 = pd.Series([1,2,3,4,5,6])
print(s4)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [18]:
s4[0]

1

In [19]:
s4[5]

6

In [21]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [22]:
max(s4)

6

In [23]:
min(s4)

1

In [24]:
s4[s4>4]

4    5
5    6
dtype: int64

In [27]:
s4[s4 == 5]

4    5
dtype: int64

In [28]:
s5 = s4

In [29]:
print(s5)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [30]:
s5+s4

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

In [31]:
s6 = pd.Series([1,3,5])

In [32]:
print(s6)

0    1
1    3
2    5
dtype: int64

In [33]:
s5+s6

0    2.0
1    5.0
2    8.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [ ]:
#n nan is not a number pandas always give nan for empty indexes