# pandas pivot table

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('D:\\machine learning data sets\\Fortune_10.csv')
print(df1)

   ID             Name             Industry  Inception       Revenue  \
0   1          Lamtone          IT Services       2009  $11,757,018
1   2        Stripfind   Financial Services       2010  $12,329,371
2   3  Canecorporation               Health       2012  $10,597,009
3   4         Mattouch          IT Services       2013  $14,026,934
4   5        Techdrill               Health       2009  $10,573,990
5   6         Techline               Health       2006  $13,898,119
6   7          Cityace               Health       2010   $9,254,614
7   8   Kayelectronics               Health       2009   $9,451,943
8   9          Ganzlax          IT Services       2011  $14,001,180
9  10      Trantraxlax  Government Services       2011  $11,088,336

            Expenses    Profit Growth
0  6,482,465 Dollars   5274553    30%
1    916,455 Dollars  11412916    20%
2  7,591,189 Dollars   3005820     7%
3  7,429,377 Dollars   6597557    26%
4  7,435,363 Dollars   3138627     8%
5  5,470,303 Dollars   8427816    23%
6  6,249,498 Dollars   3005116     6%
7  3,878,113 Dollars   5573830     4%
8                NaN  11901180    18%
9  5,635,276 Dollars   5453060     7%

In [5]:
df1.pivot_table(index  = 'Industry')

                            ID  Inception      Profit
Industry
Financial Services    2.000000     2010.0  11412916.0
Government Services  10.000000     2011.0   5453060.0
Health                5.800000     2009.2   4630241.8
IT Services           4.666667     2011.0   7924430.0

# pandas melt function

In [6]:
# melt fucntion is used to tranform or to reshape the data 
pd.melt(df1)

   variable value
0        ID     1
1        ID     2
2        ID     3
3        ID     4
4        ID     5
..      ...   ...
75   Growth   23%
76   Growth    6%
77   Growth    4%
78   Growth   18%
79   Growth    7%

[80 rows x 2 columns]

In [11]:
pd.melt(df1, id_vars = ['Growth'])

   Growth variable     value
0     30%       ID         1
1     20%       ID         2
2      7%       ID         3
3     26%       ID         4
4      8%       ID         5
..    ...      ...       ...
65    23%   Profit   8427816
66     6%   Profit   3005116
67     4%   Profit   5573830
68    18%   Profit  11901180
69     7%   Profit   5453060

[70 rows x 3 columns]

In [14]:
df1.dtypes

ID            int64
Name         object
Industry     object
Inception     int64
Revenue      object
Expenses     object
Profit        int64
Growth       object
dtype: object

In [15]:
# with the help of parse_date a object data tuype can be converted to data time data tyope