# hoe to create pandas data frame

In [1]:
import pandas as pd

In [2]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
df1 = pd.DataFrame([1,2,3,4,5,6])
print(df1)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [4]:
lst2 = [["a","b","c",5],[1,2,3,4,],["yogi","jaishu","viki",]]
print(lst2)

[['a', 'b', 'c', 5], [1, 2, 3, 4], ['yogi', 'jaishu', 'viki']]

In [7]:
df2 = pd.DataFrame(lst2 , index = ["a","b","c"])

In [8]:
print(df2)

      0       1     2    3
a     a       b     c  5.0
b     1       2     3  4.0
c  yogi  jaishu  viki  NaN

In [13]:
dict1 = {"id": [1,2,3,4],'Sn': [5,6,7,8],}
dict1

{'id': [1, 2, 3, 4], 'Sn': [5, 6, 7, 8]}

In [14]:
df3 = pd.DataFrame(dict1)
print(df3)

   id  Sn
0   1   5
1   2   6
2   3   7
3   4   8

In [15]:
lst_dict = [{'a': 1,'b': 2},{'a' : 3,'b' : 5,"c":7}]
print(lst_dict)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 5, 'c': 7}]

In [22]:
df4 = pd.DataFrame(lst_dict)
print(df4)

   a  b    c
0  1  2  NaN
1  3  5  7.0

In [20]:
lst_dict = [{'a': 1,'b': 2},{'a' : 3,'b' : 5,"c":7}]
print(lst_dict,)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 5, 'c': 7}]

In [24]:
dict_sr = {'id': pd.Series([1,2,3,4]),'Sn': pd.Series([4,5,6,7])}
print(dict_sr)

{'id': 0    1
1    2
2    3
3    4
dtype: int64, 'Sn': 0    4
1    5
2    6
3    7
dtype: int64}

In [25]:
df6 = pd.DataFrame(dict_sr)
print(df6)

   id  Sn
0   1   4
1   2   5
2   3   6
3   4   7

In [26]:
dict_sr = {'id': pd.Series([1,2,3,4]),'Sn':[4,5,6,7]}
print(dict_sr)

{'id': 0    1
1    2
2    3
3    4
dtype: int64, 'Sn': [4, 5, 6, 7]}

In [27]:
df7 = pd.DataFrame(dict_sr)
print(df7)

   id  Sn
0   1   4
1   2   5
2   3   6
3   4   7