# how to read csv file#5

In [1]:
import pandas as pd

In [2]:
# handling missing values in give data frame 
df  = pd.read_csv('D:\\machine learning data sets\\Fortune_10.csv')
print(df)

   ID             Name             Industry  Inception       Revenue  \
0   1          Lamtone          IT Services       2009  $11,757,018
1   2        Stripfind   Financial Services       2010  $12,329,371
2   3  Canecorporation               Health       2012  $10,597,009
3   4         Mattouch          IT Services       2013  $14,026,934
4   5        Techdrill               Health       2009  $10,573,990
5   6         Techline               Health       2006  $13,898,119
6   7          Cityace               Health       2010   $9,254,614
7   8   Kayelectronics               Health       2009   $9,451,943
8   9          Ganzlax          IT Services       2011  $14,001,180
9  10      Trantraxlax  Government Services       2011  $11,088,336

            Expenses    Profit Growth
0  6,482,465 Dollars   5274553    30%
1    916,455 Dollars  11412916    20%
2  7,591,189 Dollars   3005820     7%
3  7,429,377 Dollars   6597557    26%
4  7,435,363 Dollars   3138627     8%
5  5,470,303 Dollars   8427816    23%
6  6,249,498 Dollars   3005116     6%
7  3,878,113 Dollars   5573830     4%
8                NaN  11901180    18%
9  5,635,276 Dollars   5453060     7%

In [3]:
df.isnull()

      ID   Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  False  False     False      False    False     False   False   False
1  False  False     False      False    False     False   False   False
2  False  False     False      False    False     False   False   False
3  False  False     False      False    False     False   False   False
4  False  False     False      False    False     False   False   False
5  False  False     False      False    False     False   False   False
6  False  False     False      False    False     False   False   False
7  False  False     False      False    False     False   False   False
8  False  False     False      False    False      True   False   False
9  False  False     False      False    False     False   False   False

In [6]:
df.isnull().sum()

ID           0
Name         0
Industry     0
Inception    0
Revenue      0
Expenses     1
Profit       0
Growth       0
dtype: int64

In [7]:
df.isnull().sum().sum()

1

In [8]:
df.notnull()

     ID  Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  True  True      True       True     True      True    True    True
1  True  True      True       True     True      True    True    True
2  True  True      True       True     True      True    True    True
3  True  True      True       True     True      True    True    True
4  True  True      True       True     True      True    True    True
5  True  True      True       True     True      True    True    True
6  True  True      True       True     True      True    True    True
7  True  True      True       True     True      True    True    True
8  True  True      True       True     True     False    True    True
9  True  True      True       True     True      True    True    True

In [9]:
#Series
import numpy as np
sr = pd.Series([1,2,3,4,5,])
print(sr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
sr.isnull()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
import numpy as np
sr = pd.Series([1,2,3,4,5,np.nan])
print(sr)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [12]:
sr.isnull()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool